*{
  margin: 0;
  padding: 0;
}
#container{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(28, 11, 218);
  padding: 10px;
}
#Cal{
  width: 100%;
  max-width: 600px;
  margin-top: 10%;
  margin-left: 10%;
}
#Cal h1{
  font-size: 60px;
}
#Cal h1 span{
  color: #ffff76;
}
#inputbox{
  margin: 40px,0;
  padding: 35px;
  background:rgba(255, 255, 2555, 0.3);
  display: flex;
  align-items: center;
  border-radius: 5%;
}
#date1{
  height: 50px;
  width: 70%;
}
button{
  margin-left: 5%;
  height: 50px;
  font-size: 40px;
  background-color: rgb(216, 22, 22);
  border-radius: 15%;
  cursor: pointer;
}
button :hover{
  background-color: rgb(203, 13, 175);
}
p{
  font-size: 40px;
  color: black;
}